// Susy setup -----------------------------
$total-columns			: 12;
$column-width			: 4em;
$gutter-width			: 1em;
$grid-padding			: $gutter-width;
$bg1-img: image-url('bg1.jpg', false, false);
// $bgheader-img: image-url('clean_textile.png', false, false);
// $bgheader-img: image-url('lightpaperfibers.png', false, false);
// $bgheader-img: image-url('linedpaper.png', false, false);
//$bgheader-img: image-url('subtle_grunge.png', false, false);
$bgheader-img: image-url('tweed.png', false, false);
// $bgheader-img: image-url('wall4.png', false, false);
// $bgheader-img: image-url('white_wall.png', false, false);

@include border-box-sizing;
@include font-face("Nav Font", font-files("ADAM.CG PRO.otf"));


// header ----------------------------------------------

.layout {
	@include container;
	padding: 3%;


}

.primary-page{
	width:80%;
	background-color: $lightgray;
	margin-right:auto;
	margin-left:auto;
	z-index:1;
	h1{
		font-family: "Nav Font";
		font-size: 34px;
		//text-transform: uppercase;
		text-decoration: none;
		padding: 3px 20px 7px 20px;
		border-bottom: 1px solid #BDBDBD;
		color: lighten($lightgray, 80);
		text-shadow: none;
	}
}


header {
	z-index: 10;
	position: relative; 
	img {
		width: 95%;
		max-width: 300px;
		margin-bottom: 0;
		margin-top: 4px;
	}
}

// Navigation ----------------------------------

.navigation {
-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;
	

	section.layout{
		padding: .3em 1% .3em 1%;
		@include breakpoint(mobileonly) {
			padding: 3%;
		}
	}
	//background: $lightgray;
	height: 5.5em;
	background-image: $bgheader-img;
	box-shadow: 0 5px 7px rgba(0,0,0,0.55);
	webkit-box-shadow: 0 5px 7px rgba(0,0,0,0.55);
	//@include background-size(cover);
	margin: 0px;
	#togglemenu{
		display: none;
		font-size: 50px;
		background-color:#819090;
		margin: 10px 10px 0 0;
		#bars{
			margin-top: 4px;
			margin-left: 2px;
		}
		a{
			padding: 7px 5px 0 9px;
			color: #e3fc64;
		}
	}
	@include breakpoint(mobileonly) {
		#togglemenu{
			//text-indent: -9999px;
			float: right;
			display: block;
			width: 64px;
			height: 58px;
			outline: 0;
			//background: #313567 url(images/togglemenu.png) center center no-repeat;
			-moz-border-radius: 7px;
			border-radius: 7px;
			background-size: 70%;
		}
		min-width:290px;
	}

	@include breakpoint(phablet) {
		#togglemenu{
			//text-indent: -9999px;
			float: right;
			display: block;
			width: 64px;
			height: 58px;
			outline: 0;
			//background: #313567 url(images/togglemenu.png) center center no-repeat;
			-moz-border-radius: 7px;
			border-radius: 7px;
			background-size: 70%;
		}
	}
	@include breakpoint(tablet) {
		max-width: 1090px;
		min-width: 1020px;
	}
	@include breakpoint(laptop) {
		max-width: inherit;
	}
	@include breakpoint(desktop) {
		max-width: inherit;
	}

	ul.nav {
		float: right;
		position: relative;
		height: 5em;
		margin-right: 5%;
		display: inherit;
		@include breakpoint(mobileonly) {
			height: inherit;
			margin:0px;
			clear: left;
			width: 100%;
			background: $lightgray;
			display: none;
		}
		@include breakpoint(phablet) {
			float: right;
			height: inherit;
			margin:0px;
			clear: left;
			width: 100%;
			background: $lightgray;
			display: none;
		}
		@include breakpoint(tablet) {
			float: left;
			display: block;
			
		}
		@include breakpoint(laptop) {
			float: right;
			display: block;
		}
		li {
			overflow: hidden;
			display: inline-block;
			float: left;
			padding: 29px 0;
			@include breakpoint(mobileonly) {
				display: block;
				list-style: none;
				float:none;
			}
			@include breakpoint(phablet) {
				display: block;
				list-style: none;
				float:none;
			}
			@include breakpoint(desktop) {
				display: inline-block;
			}
			i {
				//color: lighten($yellow, 20);
				color: $mygreen2;
				padding-right: .5em;
			}

			a {
				font-family: "Nav Font";
				font-size: 22px;
				text-transform: uppercase;
				//display: block;
				text-decoration: none;
				padding: 3px 20px 7px 20px;
				border-left: 1px solid #BDBDBD;
				color: lighten($lightgray, 80);
				height: 33px;
				@include breakpoint(mobileonly) {
					font-size: 20px;
				}
				@include breakpoint(phablet) {
					font-size: 20px;
				}
				@include breakpoint(tablet) {
					font-size: 15px;
				}
				@include breakpoint(laptop) {
					font-size: 18px;
				}
				@include breakpoint(desktop) {
					font-size: 22px;
				}
			}
			a.first{
				border-left: none;
			}

			ul#sub-nav{
				background-color:#555;
  				//-webkit-transition: all .9s ease; -moz-transition: all .9s ease; -ms-transition: all .9s ease; -o-transition: all .9s ease; transition: all .9s ease;
  				@include transition-duration(0.4s);
  				@include transition-timing-function(ease-in);
  				display: block;
			    opacity: 0; 
			    height: 0;
			    overflow: hidden;
				li.subli{
					display: block;
					clear: left;
					list-style: none;
					float:none;
					padding: 10px 0;
					a{
						border-left:none;
						align-items: center;
					}
				}
			}
		}
		li.main:hover{
				ul#sub-nav{
					opacity: 1;
    				height: auto;
    				a{
						color:white;
					}
					li.subli:hover{
						a{
							color:#C0C0C0;
						}
					}
				}
				
			a{
				color:#C0C0C0;
			}
			
		}

	}
	@include transition( top 0.3s ease-out background .9s .5s ease-out );
	
}

#logo{
	
	float: left;
	a {
		padding: 0px;
	}
	padding: 0px;
	width: 13em;
	@include breakpoint(mobileonly) {
		width:10em;
	}
	@include breakpoint(phablet) {
		width:13em;
	}
	@include breakpoint(tablet) {
		width:13em;
	}
	@include breakpoint(laptop) {
		width:13em;
	}
	@include breakpoint(desktop) {
		width:13em;
	}
}

// .img-logo{
// 	padding: 0px;
// 	max-width: 100%;

// }

footer{
	color: $paleyellow;
	//background: light($darkblue, 3);
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 100px;
}

	//desktop, laptop, tablet, phablet, mobileonly
	.primary {
		
		@include span(30%);
		margin-top: .2em;
		.layout{
			padding: 0px;
			

		}
		margin-top:20px;
		// @include box-shadow(rgba(0,0,0,0.8) 5px 5px 15px);
		
		article{

				display: inline-block;
				z-index: 199;
				h2{
					font-family: arial;
				}
				font-family: arial;
				a img{
					max-width: 100%;
				}
		}

		@include breakpoint(mobileonly) {
			@include span(90%);
			float:right;
		}
		@include breakpoint(phablet) {
			@include span(320px);
			float:right;
		}
		@include breakpoint(tablet) {
			@include span(655px);
			float:right;
		}
		@include breakpoint(laptop) {
			@include span(655px);
			float:right;
		}
		@include breakpoint(desktop) {
			@include span(655px);
			float:right;
		}
		#three{
			vertical-align:top;
			background-color: #909090;
			padding: 5px 5px 31px 5px;
			margin: 5px 5px 5px 5px;
			width: 100%;
			font-family: "Nav Font";
			text-decoration: none;
			text-shadow: none;
			color: white;
			font-size: 13px;
			@include breakpoint(mobileonly) {
			width: 100%;
			}
			@include breakpoint(phablet) {
			width: 100%;
			}
			@include breakpoint(tablet) {
			width: inherit;
			}
			@include breakpoint(laptop) {
			width: inherit;
			}
			@include breakpoint(desktop) {
			width: inherit;
			}
			li{
				padding: 13px 13px 10px 10px;
				font-size: 20.4px;
			}
		}
		#one {
			//background-image: $bg1-img;
			background-color: #909090;
			padding: 15px 15px 10px 15px;
			margin: 5px 5px 5px 5px;
			width: 100%;
			h3{
				background-image: image-url('stripe.png', false, false);
				@include background-size(cover);
				 font-size: 16px;
				// font-size: .9em;
				padding: 5px 5px 5px 15px;
				a{
					font-family: "Nav Font";
					text-decoration: none;
					text-shadow: none;
					color: white;
				}
			}
			@include breakpoint(mobileonly) {
			width: 100%;
			}
			@include breakpoint(phablet) {
			width: 100%;
			}
			@include breakpoint(tablet) {
			width: inherit;
			}
			@include breakpoint(laptop) {
			width: inherit;
			}
			@include breakpoint(desktop) {
			width: inherit;
			}
			
		}
		#one:hover{
			background-color: #484848; 
		}
		#three:hover{
			background-color: #484848; 
		}
	}



	//////////////////////// Photo Page ////////////////////////////////////////////////

.primary-page{
	min-height:800px;
			@include breakpoint(mobileonly) {
			width: 100%;
			}
			@include breakpoint(phablet) {
			width: 100%;
			}
			@include breakpoint(tablet) {
			width: 90%;
			}
			@include breakpoint(laptop) {
			width: 90%;
			}
			@include breakpoint(desktop) {
			width: 90%;
			}

	#photo-nav{
		width: 100%;
		display: inline-block;
		float: left;
		min-height: 48px;
		button{
			border:0;
			background:inherit;
			font:inherit;
			cursor: pointer;
			font-size: 22px;
			color: $mygreen2;
		}
		button:hover{
			border-bottom: 1px solid #d0d0d0;

		}
		ul#photo-navul{
			li{
				display: inline-block;
			}


				li.photo-navc{
					padding: 5px 5px 5px 25px;
					@include breakpoint(mobileonly) {
						display: block;
					}
					@include breakpoint(phablet) {
						display: block;
					}
					ul.photo-sub-nav{
						z-index: 10;
						background-color:#555;
		  				//-webkit-transition: all .9s ease; -moz-transition: all .9s ease; -ms-transition: all .9s ease; -o-transition: all .9s ease; transition: all .9s ease;
		  				@include transition-duration(0.4s);
		  				@include transition-timing-function(ease-in);
		  				list-style:none;
					    position:absolute;
					    left:-9999px;
					    li{
					    	display: block;
					    	padding: 0 15px 0 10px;
					    	button{
					    		font-size: 17px;
					    	}
					    }
					}
				}
				li.photo-navc:hover{
					ul.photo-sub-nav{
						left:inherit;

					}
				}

			
		}
	}
	#photo-grid{
		// background-color:$white;
		// background-color:$mygreen2;
		// background-color:$black;
		//background-color:$lightgray;
		display: inline-block;
		padding: 5px 5px 5px 5px;
		min-width: 100%;
		
		.photo-wrap {
			.img-ov{
				position: relative; 
			}
			.img-ov:hover{
				h2{
					visibility: visible;
				}
			}

			
			margin-right: auto !important;
			margin-left: auto;
			a{
				top:0;
			}
			@include span(3 of 12);
			img {
			  max-width: 100%;
			  max-height: 100%;
			  padding:5px 5px 5px 5px;
			}
			h2 { 
			   position: absolute; 
			   top: 70%; 
			   left: 0; 
			   width: 100%; 
			   visibility: hidden;
			   span { 
				   color: white; 
				   font: 13px;  
				   background: rgb(0, 0, 0); /* fallback color */
				   background: rgba(0, 0, 0, 0.7);
				   padding: 10px; 
				}
			}
			@include breakpoint(mobileonly) {
				@include span(12 of 12 0);
			}
			@include breakpoint(phablet) {
				@include span(12 of 12 0);
			}
			@include breakpoint(tablet) {
				@include span(6 of 12 0);
			}
			@include breakpoint(laptop) {
				@include span(4 of 12 0);
			}
			@include breakpoint(desktop) {
				@include span(3 of 12 0);
			}
		}

	}



}







//////////////////////////////// Skull cleaning page////////////////////////////////////////////////////////////////


#skull-cleaning-page{

	h2{
		font-size: 29px !important;
		color: $mygreen2;
		font:inherit;
		text-shadow: none;
		i{
			font-size: 10px !important;
			vertical-align: middle;
			color: #BDBDBD;
		}

	}

	h3{
		font-size: 21px !important;
		color: white;
		font:inherit;
		text-shadow: none;
	}

	.skull-section{
		min-height: 150px;
	}

	.ss-inner{
		margin-left: 4%;

		#order-in{
			margin-left: 2%;
			a{
				text-decoration: none;
				color: inherit;
			}
			h3{
				border-bottom: 1px solid #BDBDBD;
				width: inherit;
				display:inline-block; 
				margin-top: 6px;
				
			}
			h3:hover{
				border-bottom: 1px solid $mygreen2;
			}

			
		}
	}

	#ss-prices{
		.ss-inner{
			width: 50%;
			@include breakpoint(mobileonly) {
				width: 90%;
				display: block;
				margin-left: 0px;
				margin-right: 0px;
			}
			@include breakpoint(phablet) {
				width: 90%;
				display: block;
			}
			display: inline-block;
		}
		
		.ss-inner2{
			@include breakpoint(mobileonly) {
				display: block;
				float: none;
				min-height: 20px;
				width: 90%;
			}
			@include breakpoint(phablet) {
				display: block;
				float: none;
				min-height: 20px;
				width: 90%;
			}
			margin-top:10px;
			width: 32%;
			display: inline-block;
			min-height: 200px;
			float: right;
			vertical-align: top;
			h3{
				font-size: 18px !important;
				span{
					font-size: 12px;
				}
			}
			ul{
				margin-left: 5%;
				li{
					display: inline-block;
				}
			}
			p{
				margin-left: 5%;
			}
			.lister{
				vertical-align: top;
				font-size: 15px;
			}
		}
		margin-top: 18px;
		margin-bottom: 18px;
		table{
			margin-top:10px;
			border: 1px solid $lightgray;
			padding: 0px 5px 0px 10px;
			background-color: #BDBDBD;
			
			th{
				padding: 5px 10px 5px 10px;
				border: 2px solid $lightgray;
				background-color: #BDBDBD;
				font-size: 22px;
				@include breakpoint(mobileonly) {
					font-size: .8em;
					padding: 2px 5px 2px 5px;
				}
				text-align: center;
				
			}
			th#hide{
					background-color: $lightgray;
				}
			td{
				padding: 0px 10px 0px 10px;
				border: 2px solid $lightgray;
			}
		}
	}


	#ss-photos{
		margin-top: 30px;
		.ss-inner{
			margin-top: 15px;
			h3{
				font-size: 18px !important;
			}
			#ss-cam-dip{
				h2{
					visibility: visible;
					width: 100%;
					text-align: center;
				}
			}
			.ss-photo-area{
				h2{
					top: 55%;
					left:5px;
				}
				span{
					width: 100%;
					font-size: 13px;
				}
				span#god-dammit{
					font-size: 12px;
					padding-left:3px;
					padding-right:0px;
				}
			}
		}
		.ss-n{
			width: 49%;
			display: inline-block;
			//background-color: #BDBDBD;
		}
	}

	#ss-details{
		.ss-innerinner{
			margin-top: 15px;
			.ss-text-con{
				max-width: 48%;
				display: inline-block;
				vertical-align: top;
				@include breakpoint(mobileonly) {
					font-size: .8em;
					display: block;
					max-width: 90%;
				}
				
				ul{
					line-height: 230%;
					font-size: 18px;
					span{
						color: #BDBDBD;
					}
				}
				a{
					text-decoration: none;
					color: inherit;
				}
				
				h3{
					text-align: center;
				}
				h3#order-link{
					
					text-align: center;
					margin-top: 10px;
					margin: 0 auto;
					overflow: hidden;
					span{
						border-bottom: 1px solid #BDBDBD;
					}
					span:hover{
						border-bottom: 1px solid $mygreen2;
					}
				}
			}
			.photo-wrap{
				max-width: 48%;
				padding-left: 10%;
				display: inline-block;
				vertical-align: top;
				a{
					text-decoration: none;
					text-align: center;
					h3{
						text-decoration: none !important;
						border: 0 !important;
					}
					img{
						max-width: 100%;
					}
				}
				
				span{
					width: 100%;
					font-size: 13px;
					@include breakpoint(mobileonly) {
						display: block;
					}
					@include breakpoint(phablet) {
						display: block;
					}
				}
			}
		}
	}

}









////////////////////////// Prices page ///////////////////////////////////////////////////////////////////////////









#skull-prices-page{

	h2{
		font-size: 29px !important;
		color: $mygreen2;
		font:inherit;
		text-shadow: none;
		i{
			font-size: 10px !important;
			vertical-align: middle;
			color: #BDBDBD;
		}

	}

	h3{
		font-size: 21px !important;
		color: white;
		font:inherit;
		text-shadow: none;
	}

	.skull-section{
		min-height: 150px;
	}

	.ss-inner{
		margin-left: 4%;
		

		#order-in{
			margin-left: 2%;
			h3{
				border-bottom: 1px solid #BDBDBD;
				width: inherit;
				display:inline-block; 
				margin-top: 6px;
				
			}

			
		}
	}

	#ss-prices{
		.ss-inner{
			width: 50%;
			@include breakpoint(mobileonly) {
				width: 80%;
				display: block;
				padding-left:0px;
				margin-left: 0px;
			}
			@include breakpoint(phablet) {
				width: 80%;
				display: block;
			}
			@include breakpoint(tablet) {
				width: 80%;
				display: block;
			}
			@include breakpoint(laptop) {
				width: 50%;
				display: inline-block;
			}
			@include breakpoint(desktop) {
				width: 50%;
				display: inline-block;
			}
			display: inline-block;
		}
		
		.ss-inner2{
			@include breakpoint(mobileonly) {
				display: block;
				float: none;
				min-height: 20px;
				width: 90%;
			}
			@include breakpoint(phablet) {
				display: block;
				float: none;
				min-height: 20px;
				width: 90%;
			}
			margin-top:10px;
			width: 32%;
			display: inline-block;
			min-height: 200px;
			float: right;
			vertical-align: top;
			h3{
				font-size: 18px !important;
				span{
					font-size: 12px;
				}
			}
			
		}
		margin-top: 18px;
		margin-bottom: 18px;
		table{
			margin-top:10px;
			border: 1px solid $lightgray;
			padding: 0px 5px 0px 10px;
			background-color: #BDBDBD;

			
			th{
				padding: 5px 10px 5px 10px;
				border: 2px solid $lightgray;
				background-color: #BDBDBD;
				// font-size: 22px;
				font-size: 1em;
				@include breakpoint(mobileonly) {
					font-size: .8em;
					padding: 2px 5px 2px 5px;
				}
				text-align: center;
				
			}
			th#hide{
					background-color: $lightgray;
				}
			td{
				padding: 0px 10px 0px 10px;
				border: 2px solid $lightgray;
			}
		}
	}


	#ss-photos{
		margin-top: 30px;
		ul{
				margin-left: 5%;
				li{
					display: inline-block;
					span{
						color: #BDBDBD;
					}
				}
			}
			p{
				margin-left: 5%;
			}
			.lister{
				vertical-align: top;
				font-size: 19px;
			}
		.ss-inner{
			margin-top: 15px;
			h3{
				font-size: 18px !important;
			}
			#ss-cam-dip{
				h2{
					visibility: visible;
					width: 100%;
					text-align: center;
				}
			}
			.ss-photo-area{
				h2{
					top: 55%;
					left:5px;
				}
				span{
					width: 100%;
					font-size: 13px;
				}
				span#god-dammit{
					font-size: 12px;
					padding-left:3px;
					padding-right:0px;
				}
			}
		}
		.ss-n{
			width: 100%;
			display: inline-block;
			//background-color: #BDBDBD;
		}
	}

	#ss-details{
		width: 45%;
		vertical-align: top;
		display: inline-block;
		@include breakpoint(mobileonly) {
				width: 80%;
				display: block;
			}
			@include breakpoint(phablet) {
				width: 80%;
				display: block;
			}
			@include breakpoint(tablet) {
				width: 80%;
				display: block;
			}
			@include breakpoint(laptop) {
				width: 45%;
				display: inline-block;
			}
			@include breakpoint(desktop) {
				width: 45%;
				display: inline-block;
			}
		.ss-inner{
			width: 100%;
		}
		.ss-innerinner{
			margin-top: 15px;
			width: 100%;
			.ss-text-con{
				display: inline-block;
				vertical-align: top;
				
				ul{
					line-height: 230%;
					font-size: 18px;
					span{
						color: white;
					}
				}
				
				h3{
					text-align: center;
				}
				h3#order-link{
					
					text-align: center;
					margin-top: 10px;
					margin: 0 auto;
					overflow: hidden;
					span{
						border-bottom: 1px solid #BDBDBD;
					}
				}
			}
			.photo-wrap{
				max-width: 48%;
				padding-left: 10%;
				display: inline-block;
				vertical-align: top;
				a{
					text-decoration: none;
					text-align: center;
					h3{
						text-decoration: none !important;
						border: 0 !important;
					}
					img{
						max-width: 100%;
					}
				}
				
				span{
					width: 100%;
					font-size: 13px;
					@include breakpoint(mobileonly) {
						display: block;
					}
					@include breakpoint(phablet) {
						display: block;
					}
				}
			}
		}
	}

}






/////////////////////////////////////// ss-details


#details-page{
	h2{
		font-size: 29px !important;
		color: #e3fc64;
		font: inherit;
		text-shadow: none;
	}
		.ss-innerinner{
			margin-top: 15px;
			.ss-text-con{
				max-width: 48%;
				display: inline-block;
				vertical-align: top;
				@include breakpoint(mobileonly) {
					font-size: .8em;
					display: block;
					max-width: 90%;
				}
				
				ul{
					margin-left: 4%;
					line-height: 230%;
					font-size: 18px;
					span{
						color: #BDBDBD;
					}
				}
				
				h3{
					text-align: center;
				}
				h2#order-link{
					
					text-align: center;
					margin-top: 10px;
					margin: 0 auto;
					overflow: hidden;
					span{
						border-bottom: 1px solid #BDBDBD;
					}
					span:hover{
						border-bottom: 1px solid $mygreen2;
					}
				}
			}
			.photo-wrap{
				max-width: 48%;
				padding-left: 10%;
				display: inline-block;
				vertical-align: top;
				a{
					text-decoration: none;
					text-align: center;
					h3{
						text-decoration: none !important;
						border: 0 !important;
					}
					img{
						max-width: 100%;
					}
				}
				
				span{
					width: 100%;
					font-size: 13px;
					@include breakpoint(mobileonly) {
						display: block;
					}
					@include breakpoint(phablet) {
						display: block;
					}
				}
			}
		}
	}



#reviews-page{
	h2{
		font-size: 29px !important;
		color: #e3fc64;
		font: inherit;
		text-shadow: none;
	}

	#rev-con{
		padding-left:5%;
		padding-top:20px;
		span{
			color: white;
		}
	}
}




////////////////////// about page








#about-page{
	h2{
		font-size: 29px !important;
		color: #e3fc64;
		font: inherit;
		text-shadow: none;
		
	}
	a{
		text-decoration: none;
	}
	#about-con{
		padding-left: 5%;
		padding-top: 30px;
		padding-right:5%;
		.about-text{
			width: 49%;
			display: inline-block;
			vertical-align: top;
			padding-top: 20px;
			@include breakpoint(mobileonly) {
						display: block;
						width: 90%;
					}
			@include breakpoint(phablet) {
						display: block;
						width: 90%;
			}
		}
		
		.img-ov{
				padding-left:4%;
				padding-top:15px;
		}
		#a1{
			padding-top:0;
			margin-top:0;

			h2{
				margin-top:0;
			}
		}

		#a2{

			background-color:#484848;
			color: white;
			padding-left:4%;
			padding-right:4%;
			padding-bottom:20px;
			span{
				padding-left: 7%;
				color: $mygreen2;
			}
		}

		#a3{
			margin-top: 35px;
			padding-left:4%;
			padding-right:4%;
			padding-bottom:20px;
			padding-top: 15px;
			background-color:#484848;
			color: white;
		}

		#a4{
			padding-left:10%;
			.img-ov{
				padding-left:4%;
				padding-top:15px;
			}
		}
		#a5{
			margin-top: 35px;
			padding-left:4%;
			padding-right:4%;
			padding-bottom:20px;
			padding-top: 15px;
			background-color:#484848;
			color: white;
			span{
				padding-left: 7%;
				color: $mygreen2;
			}
		}
	}
	
}